.text-green {
    color: rgb(181, 181, 64);
}

.text-orange {
    color: rgb(174, 88, 66);
}

.bg-green {
    background-color: rgb(181, 181, 64) !important;
}

.bg-orange {
    background-color: rgb(174, 88, 66) !important;
}

.bg-dark {
    background-color: rgb(37, 41, 46);
}